CONFIG_FSL_ENETC_HW_TIMESTAMPING=y
CONFIG_FSL_ENETC_MDIO=y
CONFIG_FSL_ENETC_PTP_CLOCK=y
CONFIG_FSL_ENETC_VF=y
CONFIG_FSL_ENETC=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_MPC8XXX=y
CONFIG_MSCC_OCELOT_SWITCH=y
CONFIG_MSCC_FELIX_SWITCH=y
CONFIG_MSCC_FELIX_SWITCH_PTP_CLOCK=y
CONFIG_CAN=y
CONFIG_CAN_FLEXCAN=y
CONFIG_QORIQ_THERMAL=y
CONFIG_RTC_RV8803=y
