CONFIG_FSL_ENETC_HW_TIMESTAMPING=y
CONFIG_FSL_ENETC_MDIO=y
CONFIG_FSL_ENETC_PTP_CLOCK=y
CONFIG_FSL_ENETC_VF=y
CONFIG_FSL_ENETC=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_MPC8XXX=y
CONFIG_MSCC_OCELOT_SWITCH=y
CONFIG_MSCC_FELIX_SWITCH=y
CONFIG_MSCC_FELIX_SWITCH_PTP_CLOCK=y
CONFIG_CAN=y
CONFIG_CAN_FLEXCAN=y
CONFIG_QORIQ_THERMAL=y
CONFIG_RTC_DRV_RV8803=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_SND_IMX_SOC=y
CONFIG_SND_SOC_IMX_WM8904=y
CONFIG_COMMON_CLK_FSL_SAI=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_GPIO_SL28CPLD=y
CONFIG_SENSORS_SL28CPLD_FAN=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_PWM_SL28CPLD=y
CONFIG_TSN=y
CONFIG_ENETC_TSN=y
CONFIG_MSCC_FELIX_SWITCH_TSN=y
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_MQPRIO=y
CONFIG_MTD_PARTITIONED_MASTER=y
CONFIG_AT803X_PHY=y
CONFIG_SPI_NXP_FLEXSPI=y
