/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
#include "freescale/fsl-ls1028a.dtsi"

/ {
	model = "Kontron SMARC-sAL28";
	compatible = "kontron,sl28", "fsl,ls1028a";

	aliases {
		crypto = &crypto;
		serial0 = &duart0;
		serial1 = &duart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&esdhc {
	status = "okay";
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
};

&esdhc1 {
	status = "okay";
	bus-width = <8>;
	mmc-hs200-1_8v;
};

&i2c0 {
	status = "okay";
	rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};

	sl28cpld@4a {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "kontron,sl28cpld";
		reg = <0x4a>;

		watchdog@4 {
			compatible = "kontron,sl28cpld-wdt";
			reg = <0x4>;
		};

		gpi0@9 {
			compatible = "kontron,sl28cpld-gpi";
			reg = <0x9>;
		};

		fan@b {
			compatible = "kontron,sl28cpld-fan";
			reg = <0xb>;
		};

		pwm0@c {
			compatible = "kontron,sl28cpld-pwm";
			reg = <0xc>;
		};

		pwm1@e {
			compatible = "kontron,sl28cpld-pwm";
			reg = <0xe>;
		};

		gpio0@10 {
			compatible = "kontron,sl28cpld-gpio";
			reg = <0x10>;
		};

		gpio1@13 {
			compatible = "kontron,sl28cpld-gpio";
			reg = <0x13>;
		};

		gpo0@16 {
			compatible = "kontron,sl28cpld-gpo";
			reg = <0x16>;
		};

		gpo1@17 {
			compatible = "kontron,sl28cpld-gpo";
			reg = <0x17>;
		};
	};

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
	};
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&fspi {
	status = "okay";
	w25q32jw@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,m25p80";
		m25p,fast-read;
		spi-max-frequency = <133000000>;
		reg = <0>;
		/* The following setting enables 1-1-2 (CMD-ADDR-DATA) mode */
		spi-rx-bus-width = <2>; /* 2 SPI Rx lines */
		spi-tx-bus-width = <1>; /* 1 SPI Tx line */

		partition@0 {
			reg = <0x000000 0x010000>;
			label = "rcw";
		};

		partition@10000 {
			reg = <0x010000 0x0f0000>;
			label = "failsafe bootloader";
		};

		partition@100000 {
			reg = <0x100000 0x040000>;
			label = "failsafe DP firmware";
		};

		partition@140000 {
			reg = <0x140000 0x0a0000>;
			label = "failsafe PPA firmware";
		};

		partition@1e0000 {
			reg = <0x1e0000 0x020000>;
			label = "reserved";
		};

		partition@200000 {
			reg = <0x200000 0x010000>;
			label = "configuration store";
		};

		partition@210000 {
			reg = <0x210000 0x0f0000>;
			label = "bootloader";
		};

		partition@300000 {
			reg = <0x300000 0x040000>;
			label = "DP firmware";
		};

		partition@340000 {
			reg = <0x340000 0x0a0000>;
			label = "PPA firmware";
		};

		partition@3e0000 {
			reg = <0x3e0000 0x020000>;
			label = "bootloader environment";
		};
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&lpuart1 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&sai4 {
	status = "okay";
};

&dp0 {
	status = "okay";
};

&mdio0 {
	phy0: ethernet-phy@5 {
		reg = <0x5>;
		// Atheros PHY on RDB seems to cause traffic loss @ 1Gbps w EEE
		eee-broken-1000t;
	};
};

&enetc_port0 {
	phy-handle = <&phy0>;
	phy-connection-type = "sgmii";
	status = "okay";
};

&enetc_port1 {
	status = "disabled";
};

&enetc_port2 {
	status = "disabled";
};

/* disabling leads to kernel crash */
//&enetc_port3 {
//	status = "disabled";
//};



/* l2switch ports */
/* port@4 has no reference in the dtsi.. */
/ {
	soc {
		pcie@1f0000000 {
			pci@0,5 {
				switch_port4: port@4 {
				};
				switch_port5: port@5 {
				};
			};
		};
	};
};

/* tmu */
&soc {
	tmu: tmu@1f80000 {
		compatible = "fsl,qoriq-tmu";
		reg = <0x0 0x1f80000 0x0 0x10000>;
		interrupts = <0 23 0x4>;
		fsl,tmu-range = <0xb0000 0xa0026 0x80048 0x70061>;
		fsl,tmu-calibration =
			/* Calibration data group 1 */
			<0x00000000 0x00000024
			0x00000001 0x0000002b
			0x00000002 0x00000031
			0x00000003 0x00000038
			0x00000004 0x0000003f
			0x00000005 0x00000045
			0x00000006 0x0000004c
			0x00000007 0x00000053
			0x00000008 0x00000059
			0x00000009 0x00000060
			0x0000000a 0x00000066
			0x0000000b 0x0000006d
			/* Calibration data group 2 */
			0x00010000 0x0000001c
			0x00010001 0x00000024
			0x00010002 0x0000002c
			0x00010003 0x00000035
			0x00010004 0x0000003d
			0x00010005 0x00000045
			0x00010006 0x0000004d
			0x00010007 0x00000055
			0x00010008 0x0000005e
			0x00010009 0x00000066
			0x0001000A 0x0000006e
			/* Calibration data group 3 */
			0x00020000 0x00000018
			0x00020001 0x00000022
			0x00020002 0x0000002d
			0x00020003 0x00000038
			0x00020004 0x00000043
			0x00020005 0x0000004d
			0x00020006 0x00000058
			0x00020007 0x00000063
			0x00020008 0x0000006e
			/* Calibration data group 4 */
			0x00030000 0x00000010
			0x00030001 0x0000001c
			0x00030002 0x00000029
			0x00030003 0x00000036
			0x00030004 0x00000042
			0x00030005 0x0000004f
			0x00030006 0x0000005b
			0x00030007 0x00000068>;
		little-endian;
		#thermal-sensor-cells = <1>;
	};

	thermal-zones {
		ddrc_thermal: ddrc-thermal {
			polling-delay-passive = <1000>;
			polling-delay = <5000>;
			thermal-sensors = <&tmu 0>;

			trips {
				ddrc_alert: ddrc-alert {
					temperature = <85000>;
					hysteresis = <2000>;
					type = "passive";
				};

				ddrc_crit: ddrc-crit {
					temperature = <95000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&ddrc_alert>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		cpu_thermal: cpu-thermal {
			polling-delay-passive = <1000>;
			polling-delay = <5000>;
			thermal-sensors = <&tmu 1>;

			trips {
				cpu_alert: cpu-alert {
					temperature = <85000>;
					hysteresis = <2000>;
					type = "passive";
				};

				cpu_crit: cpu-crit {
					temperature = <95000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu_alert>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};

	/* add missing sai nodes */
	sai3: sai@f120000 {
		#sound-dai-cells = <0>;
		compatible = "fsl,vf610-sai";
		reg = <0x0 0xf120000 0x0 0x10000>;
		interrupts = <0 83 0x4>;
		clocks = <&clockgen 4 0>, <&clockgen 4 1>,
			 <&clockgen 4 1>, <&clockgen 4 1>;
		clock-names = "bus", "mclk1", "mclk2", "mclk3";
		dma-names = "tx", "rx";
		dmas = <&edma0 1 8>,
		       <&edma0 1 7>;
		status = "disabled";
	};

	sai5: sai@f140000 {
		#sound-dai-cells = <0>;
		compatible = "fsl,vf610-sai";
		reg = <0x0 0xf140000 0x0 0x10000>;
		interrupts = <0 84 0x4>;
		clocks = <&clockgen 4 0>, <&clockgen 4 1>,
			 <&clockgen 4 1>, <&clockgen 4 1>;
		clock-names = "bus", "mclk1", "mclk2", "mclk3";
		dma-names = "tx", "rx";
		dmas = <&edma0 1 12>,
		       <&edma0 1 11>;
		status = "disabled";
	};

	sai6: sai@f150000 {
		#sound-dai-cells = <0>;
		compatible = "fsl,vf610-sai";
		reg = <0x0 0xf150000 0x0 0x10000>;
		interrupts = <0 84 0x4>;
		clocks = <&clockgen 4 0>, <&clockgen 4 1>,
			 <&clockgen 4 1>, <&clockgen 4 1>;
		clock-names = "bus", "mclk1", "mclk2", "mclk3";
		dma-names = "tx", "rx";
		dmas = <&edma0 1 14>,
		       <&edma0 1 13>;
		status = "disabled";
	};

	pwm0: pwm@2800000 {
		compatible = "fsl,vf610-ftm-pwm";
		#pwm-cells = <3>;
		reg = <0x0 0x2800000 0x0 0x10000>;
		clock-names = "ftm_sys", "ftm_ext",
			      "ftm_fix", "ftm_cnt_clk_en";
		clocks = <&clockgen 4 1>,
			 <&clockgen 4 1>,
			 <&clockgen 4 1>,
			 <&clockgen 4 1>;
		status = "disabled";
	};
};

&switch_port0 {
	status = "disabled";
};

&switch_port1 {
	status = "disabled";
};

&switch_port2 {
	status = "disabled";
};

&switch_port3 {
	status = "disabled";
};

&switch_port4 {
	status = "disabled";
};

&switch_port5 {
	status = "disabled";
};

&edp {
	lane_mapping = <0x4e>;
	status = "okay";
};

&sata {
	status = "okay";
};
