/*
 * Device Tree Include file for Kontron SMARC-sAL28.
 */

/dts-v1/;
#include "freescale/fsl-ls1028a.dtsi"

/ {
	model = "Kontron SMARC-sAL28";
	compatible = "kontron,sl28", "fsl,ls1028a";

	aliases {
		crypto = &crypto;
		serial0 = &duart0;
		serial1 = &duart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Speaker", "Speaker Ext",
			"Line", "Line In Jack";
		simple-audio-card,routing =
			"MIC_IN", "Microphone Jack",
			"Microphone Jack", "Mic Bias",
			"LINE_IN", "Line In Jack",
			"Headphone Jack", "HP_OUT",
			"Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
			sound-dai = <&sai4>;
			frame-master;
			bitclock-master;
		};
	};
};

&esdhc {
	status = "okay";
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
};

&esdhc1 {
	status = "okay";
	bus-width = <8>;
	mmc-hs200-1_8v;
};

&i2c0 {
	status = "okay";
	rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};

	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
	};
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&sai4 {
	status = "okay";
};

&dp0 {
	status = "okay";
};

&mdio0 {
	phy0: ethernet-phy@0 {
		reg = <0x0>;
		// Atheros PHY on RDB seems to cause traffic loss @ 1Gbps w EEE
		eee-broken-1000t;
	};

	phy1: ethernet-phy@2 {
		reg = <0x2>;
		// Atheros PHY on RDB seems to cause traffic loss @ 1Gbps w EEE
		eee-broken-1000t;
	};
};

&enetc_port0 {
	phy-handle = <&phy1>;
	phy-connection-type = "sgmii";
};

&enetc_port1 {
	phy-handle = <&phy0>;
	phy-connection-type = "rgmii";
};

&edp {
	fsl,no_edid;
	lane_mapping = <0x4e>;
	edp_link_rate = <0x6>;
	edp_num_lanes = <0x4>;
	status = "okay";
};

&sata {
	status = "okay";
};
